@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}
.home,
.about,
.products{
  display: flex;
  height: 40vh;
  margin-left:16vw;
  margin-top: 2rem;
  font-size: max(40px,2vw);
} 

@media(max-width: 800px){
.home{
  width: 100px;
  height: auto;
}}
