@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}


.analise h3{
  display: flex;
  height: 40vh;
  margin-left:16vw;
  margin-top: 7rem;
  font-size: max(40px,2vw);
} 

.about h3{
  display: flex;
  height: 40vh;
  margin-left:16vw;
  margin-top: 7rem;
  font-size: max(40px,2vw);
} 
.arquivos h3{
  display: flex;
  height: 40vh;
  margin-left:17vw;
  margin-top: 7rem;
  font-size: max(40px,1vw);
}
.step h3{
  display: flex;
  height: 40vh;
  margin-left:17vw;
  margin-top: 7rem;
  font-size: max(40px,1vw);
}

